# Aggregator with function dictionary

In [5]:
import pandas as pd
import numpy as np

In [91]:
df = pd.DataFrame({'Name':['Anna','Anna','Anna','Anna','Anna','Ellen','Ellen','Ellen','Jessica','Jessica','Jessica'],
                   'Salles 2019': 1000*abs(np.random.rand(11)),
                   'Salles 2020': 1000*abs(np.random.rand(11)),
                   'Salles 2021': 1000*abs(np.random.rand(11))})
df.tail(3)

       Name  Salles 2019  Salles 2020  Salles 2021
8   Jessica   855.096188   601.396211   654.628064
9   Jessica   538.464330    53.428006   432.172474
10  Jessica   970.750664   200.411242   452.529152

In [88]:
def sum_agg(series):
    return series.sum()

def number_entries(series):
    return len(np.unique(series))

sum_agg = {
        'Salles 2019':[sum_agg],
        'Salles 2020':[sum_agg],
        'Salles 2021':[sum_agg]    
        }

number_entries = {
        'Salles 2019':[number_entries],
        'Salles 2020':[number_entries],
        'Salles 2021':[number_entries]    
        }


df_sum = pd.DataFrame(df.groupby(['Name']).agg(sum_agg))
df_sum.columns = df_sum.columns.levels[0]

df_number_entries = pd.DataFrame(df.groupby(['Name']).agg(number_entries))
df_number_entries.columns = df_number_entries.columns.levels[0]

df_end = df_sum.div(df_number_entries)
df_end

         Salles 2019  Salles 2020  Salles 2021
Name
Anna      414.838825   391.432297   600.589683
Ellen     350.153178   677.739429   594.401276
Jessica   774.576861   654.829961   789.627325

In [89]:
mean_agg = {
        'Salles 2019':[np.mean],
        'Salles 2020':[np.mean],
        'Salles 2021':[np.mean]    
        }

df_mean = pd.DataFrame(df.groupby(['Name']).agg(mean_agg))
df_mean.columns = df_mean.columns.levels[0]

df_mean

         Salles 2019  Salles 2020  Salles 2021
Name
Anna      414.838825   391.432297   600.589683
Ellen     350.153178   677.739429   594.401276
Jessica   774.576861   654.829961   789.627325